* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  padding: 15px 10px;
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px rgb(192, 189, 189);
    --webkit-box-shadow: 0 8px 6px -6px gray;
  }
  
  .nav-link {
    font-weight: 300 !important;
  }
  
  .active {
    font-weight: 400 !important;
    color: #040c29;
  }
  
  .navbar-brand {
    font-weight: 700;
    letter-spacing: 3px;
    color: #27ae60 !important;
  }

  .navbar-light .navbar-toggler{
    border: none;
    color: #000000;
    background-color: #e2e6e3;
    font-size: 22px !important;
    padding: 5px 10px;
    box-shadow: 0 8px 6px -6px rgb(192, 189, 189);
    --webkit-box-shadow: 0 8px 6px -6px gray;
    border-radius: 0;
  }

  .navbar-toggler:focus{
    box-shadow: 0 8px 6px -6px rgb(192, 189, 189);
    --webkit-box-shadow: 0 8px 6px -6px gray;
  }

  /* =======footer============= */
  
  .footer {
    color: white;
    padding: 20px;
    background: #2c3e50;
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
  }
  
  .footer a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  
  .footer a:hover {
    color: #ffefba;
    border-bottom: 1px solid #ffefba;
  }
  /* ==== page not found css ======= */
  .pnf {
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .pnf-title {
    font-size: 100px;
    font-weight: 700;
  }
  
  .pnf-heading {
    font-weight: normal;
  }
  
  .pnf-btn {
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
  }
  .pnf-btn:hover {
    background-color: black;
    color: white;
  }
  /* =========contact us ========= */
  .contactus {
    margin: 0;
    padding: 0;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.contactus h4{
  margin: 0;
}
  /* ======btn ============= */
.ant-modal .ant-modal-close {
  top: 28px;
  right: 30px;
}

.grnBtn{
  background-color: #1abc9c;
  color: #fff;
}
.grnBtn:hover{
  background-color: #16a085;
  color: #ddd;
}

.list-group-item.active {
  background-color: #16a085;
  border-color: #16a085;
}


/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 0px !important;
}

  /* =====searchpage */
.searchpage{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
.my-search-input{
  min-width: 350px !important;
  border-radius: 0;
}
.searchBtn{
  background-color: #1b1b1b;
  padding: 5px 20px;
  border-radius: 0px;
  font-weight: 600;
  color: #fff;
}
.searchBtn:hover{
  background-color: #16a085;
  color: #fff;
}
@media (max-width: 991px) {
  .search-form{
    margin-top: 15px !important;
  }
}

/* ================
====dashboard
=================== */

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #16a085;
}

.dashboard {
  margin-top: 100px !important;
}

.dashboard-menu h4 {
  background-color: #434343 !important;
  color: white;
  padding: 20px 0px;
}
@media (max-width: 767px) {
  .dashboard-menu{
    margin-right: 30px;
  }
}

/* =============== */

.opened{
  display: block;
}
.closed{
  display: none;
}
.closeBtn{
  background-color: #16a085;
  padding: 0px 10px;
  border: none;
  color: #ddd;
  font-size: 20px;
}
