
.home-page h2 {
  color: gray;
  font-family: "Playfair Display", serif;
  margin-top: 10px;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}
.home-page .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-page .card-price {
  color: #16a085;
  font-weight: bold;
}
.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  height: 300px !important;
}
/* ==================
  filters
  ============== */
.filters h4 {
  margin-top: 100px;
  color: gray !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.btn-info {
  background-color: #16a085 !important;
  border: none;
  color: #fff;
}
.btn-info:hover {
  background-color: #05836a !important;
  color: #fff;
}
.filters button {
  background-color: black;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
}

.loadmore {
  color: #16a085;
  font-weight: bold;
  font-size: 20px !important;
}

/* ========//grid system======= */
.my-card {
  display: flex;
  width: 100% !important;
  margin: 10px;
  box-shadow: 0 8px 6px -6px rgb(192, 189, 189);
  --webkit-box-shadow: 0 8px 6px -6px gray;
}
.my-card img {
  box-shadow: 0 2px 4px rgb(192, 189, 189);
  margin: 10px;
  height: 200px !important;
  width: 250px !important;
}
.prd-header {
  display: flex;
  justify-content: space-between;
}
.prd-header button {
  width: 50px;
  height: 40px;
  border: none;
  font-size: large;
  margin-right: 20px;
}

.card-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.banner-img {
  margin-top: 40px;
  height: 340px;
  margin-bottom: 15px;
}
@media (max-width:991px) {
  .banner-img{
    width: 100%;
    height: 320px;
    margin-top: 30px;
  }
}
@media (max-width:575px) {
  .banner-img{
    width: 100%;
    height: 220px;
  }
}